
body {
    display: flex;
    background: #f8f9fa;
}
/* 
.sidebar {
    width: 280px;
    height: 100vh;
    color: white;
    padding: 20px;
} */

.sidebar h4 {
    font-size: 15px;
    font-weight: 400;
}

.sidebar h5 {
    margin-top: 19px;
    font-size: 16px;
    font-weight: 600;
    /* Add some spacing above section headings */
}

.sidebar a {
    color: white !important;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 9px;
    font-size: 18px !important;
    font-weight: 600 !important;
    border-radius: 5px;
    /* margin: 5px 0; */
    cursor: pointer;
    font-size: 15px !important;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a:hover {
    background: #063666;
}

/* .content {
    flex-grow: 1;
    padding: 20px;
} */

/* .settings {
    margin-top: 20px;
    padding-top: 10px;
} */

.training-section {
    background: none;
    padding: 0;
}

.search-input {
    border: 2px solid #ced4da;
    padding: 10px 15px 10px 40px;
    width: calc(100% - 50px);
    position: relative;
    border-radius: 0;
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

#search-result {
    margin-top: 10px;
}

.input-group {
    margin-bottom: 20px;
}

.header-container {
    background-color: #f8f9fa;
    /* Light background color */
    border-bottom: 1px solid #dee2e6;
    /* Subtle border */
}

.search-input {
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #007bff;
    /* Change border color on focus */
    outline: none;
    /* Remove default outline */
}

.search-icon {
    color: #999;
    /* Icon color */
    font-size: 16px;
    /* Adjust icon size */
}

.sidebar {
    width: 290px;
    background-color: rgb(37, 112, 129);
    color: white;
    /* position: fixed; */
    height: 80%;
    overflow-y: auto;
    padding: 20px;
}

.content {
    
    padding: 20px; /* Add padding */
    flex: 1; /* Take remaining space */
    overflow-y: auto; /* Enable scrolling if content overflows */
    height: 100vh; /* Full viewport height */
}

.training-section h5 {
    font-size: 2rem; /* Increase font size */
    margin-bottom: 10px; /* Space below the header */
    color: #fff; /* Change color if needed */
}

.form-select {
    font-size: 1.2rem; /* Larger font size for the dropdown */
    border-radius: 0.5rem; /* Rounded corners */
    padding: 10px; /* Add padding for better touch targets */
    background-color: #fff; /* Background color */
    border: 2px solid #007bff; /* Border color */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.form-select:focus {
    border-color: #0056b3; /* Change border color on focus */
    outline: none; /* Remove default outline */
}